<!-- Footer -->
<div class="flex flex-col items-center mt-20 bg-[#222]">
  <div class="flex justify-between w-[80%] pt-16 bg-[#222]">
    <div class="flex gap-6">
      <div class="flex flex-col">
        <h1 class="text-xl font-extrabold text-[#999] mb-4">
          TBI Studio - Where Creativity Meets
          Innovation
        </h1>
        <p class="text-[#888] text-sm mb-1">
          ✨ Powerful AI-driven tools for seamless image manipulation and
          enhancement
        </p>
        <p class="text-[#888] text-sm mb-1">
          ✨ Add stunning text effects behind your images with just a few clicks
        </p>
        <p class="text-[#888] text-sm mb-1">
          ✨ Smart object removal and restoration capabilities
        </p>
        <p class="text-[#888] text-sm mb-1">
          ✨ Professional-grade results with user-friendly interface
        </p>

        <div class="flex flex-row gap-4 mt-6">
          <div
            class="bg-[#555] p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
          >
            <div
              class="rounded-full bg-[#555] p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
            >
              <img src="linkedin2.svg" alt="tbi" class="w-auto h-8 " />
            </div>
          </div>
          <div
            class="bg-[#555] p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
          >
            <div
              class="rounded-full bg-[#555] p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
            >
              <img src="facebook2.svg" alt="tbi" class="w-auto h-8 " />
            </div>
          </div>
          <div
            class="bg-[#555] p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
          >
            <div
              class="rounded-full bg-[#555] p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
            >
              <img src="github2.svg" alt="tbi" class="w-auto h-8 p-0.5" />
            </div>
          </div>
          <div
            class="bg-[#555] p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
          >
            <div
              class="rounded-full bg-[#555] p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
            >
              <img src="instagram.svg" alt="tbi" class="w-auto h-8" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="camera.gif" class="w-[200px] h-[200px] mb-8 mr-18" alt="Lord Icon" />
  </div>

  <div
      class="text-center pt-10 pb-4  w-[80%] flex justify-between"
    >
      <p class="text-[#666]">
        &copy; Copyright TBI Studio 2025, All rights reserved.
      </p>
      <div class="flex gap-8 text-[#777]">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
    </div>
</div>