@use "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; }

.custom-rounded {
    border-radius: 0.5rem 2rem 2rem 0.5rem;
  }
  
  
.custom-rounded2 {
    border-radius: 2rem 0.5rem 0.5rem 2rem;
  }
  
  .custom-rounded3 {
    border-radius: 0rem 0rem 2rem 2rem;
  }

  .custom-rounded4 {
    border-radius: 0.5rem 0.5rem 0.5rem 2rem;
  }

  .custom-rounded5 {
    border-radius: 0.5rem 0.5rem 2rem 0.5rem;
  }



  .ghost-button{
    background-color: white;
    border: 1px solid #155dfc;
    color: #155dfc;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #6e11b0;
      color: white;
      border: 1px solid #6e11b0;
    
    }
  }

  .blue-button{
    background-color: white;
    border: 1px solid #155dfc;
    color: #155dfc;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #155dfc;
      color: white;
      border: 1px solid #155dfc;
    }
  }

    .fill-button{
    background-color: #155dfc;
    border: 1px solid #155dfc;
    color: white;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #6e11b0;
      color: white;
      border: 1px solid #6e11b0;
    
    }
  }

  .custom-input {
    border: 1px solid #c8c8c8;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #c130ff;
      outline: none;
    }
  }