/* Add this CSS for the loading spinner */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #333; /* Dark grey */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* You can keep your other existing styles below */
.tab-btn.active,
.control-btn-group button.active {
  background-color: #333;
  color: white;
  border-color: #333;

}

.layer-item.active {
  background-color: #e1e1e1;
  border-color: #c8c8c8;
}

.dropzone.dragging {
  border-color: #14b8a6; /* teal-500 */
  background-color: #f0fdfa; /* teal-50 */
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 30s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  animation-timing-function: linear;
  backface-visibility: hidden;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.custom-dotted-border {
  border: 4px dotted rgb(117, 117, 117); /* Border width and color */
  border-radius: 6px; /* Smooth corners */
  border-image: initial;
  border-style: dotted;
  border-width: 2px; /* Increase dot size */
  background-clip: border-box;

  /* Increase dot spacing */
  background-image: radial-gradient(gray 20%, transparent 2%);
  background-size: 4px 4px; /* Adjust spacing here */
}

.scroll-track-left {
  display: flex;
  width: max-content;
  animation: scrollRight 35s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  animation-timing-function: linear;
  backface-visibility: hidden;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}