<div class="min-h-screen flex flex-col items-center px-20">
  <div
    class="mx-[40px] mt-[100px] absolute inset-0 bg-[linear-gradient(to_right,theme(colors.gray.600)_2px,transparent_1px),linear-gradient(to_bottom,theme(colors.gray.600)_2px,transparent_1.5px)] bg-[size:2rem_2rem] opacity-8 [mask-image:radial-gradient(ellipse_at_center,black_60%,transparent_100%)]"
  ></div>

  <div class="pt-42 w-full flex flex-col items-center justify-center">
    <div class="w-full flex flex-col items-center justify-center">
      <h1
        class="text-[44px] font-extrabold tracking-wider drop-shadow-[2px_2.5px_0px_#888] text-[#111] mb-2"
      >
        Unleash Your Creative Vision with
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-purple-900"
          >TBI Studio</span
        >
      </h1>
      <p class="text-gray-600 text-md mb-10">
        Unleash your creativity—edit, enhance, and bring your words with
        powerful tools.
      </p>

      <div class="w-9/10 mx-auto">
        <div class="flex flex-wrap justify-center gap-3 w-full mx-auto pt-5">
          <div
            class="w-[420px] h-[160px] bg-blue-400/30 p-1 rounded transition-all duration-400 ease-in-out transform hover:scale-[1.03] cursor-pointer relative"
          >
            <div
              (click)="openTBI()"
              class="flex flex-row items-center justify-center h-full rounded p-8 gap-4 bg-[#66bdff]"
            >
              <div class="rounded-full bg-white p-4">
                <img src="text.svg" alt="tbi" class="w-auto h-10" />
              </div>
              <div>
                <h1 class="text-[22px] text-[#444] font-bold">
                  TBI Text behind image
                </h1>
                <h1 class="text-[12px] text-[#555] pl-1">
                  Put text in background of your image
                </h1>
              </div>
            </div>
          </div>

          <!-- db -->
          <div
            class="w-[220px] h-[160px] bg-orange-500/30 rounded p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.03] cursor-pointer relative"
            (click)="handleCardClick()"
          >
            <!-- Sign in label shown only if not logged in -->
            <ng-container *ngIf="!isLoggedIn()">
              <div class="absolute -top-2 -right-2 z-10">
                <h1
                  class="flex text-sm font-thin text-[#666] bg-white/30 p-1 px-2 rounded shadow"
                >
                  <img
                    src="lock.png"
                    alt="Sign in"
                    class="h-4 inline-block mr-1"
                  />Sign In
                </h1>
              </div>
            </ng-container>

            <!-- Main card content -->
            <div
              class="flex flex-col items-center justify-center h-full rounded p-6 bg-[#fd9963]"
            >
              <div class="rounded-full bg-white p-4">
                <img src="scan.svg" alt="tbi" class="w-auto h-10" />
              </div>
              <div>
                <h1 class="text-[22px] text-[#444] font-bold">Storage</h1>
              </div>
            </div>
          </div>
          <!------------------- card-2 -->
          <div
            class="w-[400px] h-[160px] bg-purple-400/30 rounded p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.03] cursor-pointer relative"
            (click)="handleCardClick()"
          >
            <!-- Sign in label shown only if not logged in -->
            <ng-container *ngIf="!isLoggedIn()">
              <div class="absolute -top-2 -right-2 z-10">
                <h1
                  class="flex text-sm font-thin text-[#666] bg-white/30 p-1 px-2 rounded shadow"
                >
                  <img
                    src="lock.png"
                    alt="Sign in"
                    class="h-4 inline-block mr-1"
                  />Sign In
                </h1>
              </div>
            </ng-container>

            <!-- Main card content -->
            <div
              class="flex flex-row items-center justify-center gap-4 h-full rounded p-8 bg-[#d18ae5]"
            >
              <div class="rounded-full bg-white p-4">
                <img src="scan.svg" alt="tbi" class="w-auto h-10" />
              </div>
              <div>
                <h1 class="text-[22px] text-[#444] font-bold">
                  Object Removal
                </h1>
                <h1 class="text-[12px] text-[#555] pl-1">
                  Remove unwanted object
                </h1>
              </div>
            </div>
          </div>

          <!------------------- card-3 -->
          <div
            class="w-[240px] h-[220px] bg-green-400/30 rounded p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.03] cursor-pointer relative"
            (click)="handleCardClick()"
          >
            <!-- Sign in label shown only if not logged in -->
            <ng-container *ngIf="!isLoggedIn()">
              <div class="absolute -top-2 -right-2 z-10">
                <h1
                  class="flex text-sm font-thin text-[#666] bg-white/30 p-1 px-2 rounded shadow"
                >
                  <img
                    src="lock.png"
                    alt="Sign in"
                    class="h-4 inline-block mr-1"
                  />Sign In
                </h1>
              </div>
            </ng-container>

            <div
              class="flex flex-col items-center justify-center h-full rounded bg-[#69ff61]"
            >
              <div class="rounded-full bg-white p-4">
                <img src="image.svg" alt="tbi" class="w-auto h-10" />
              </div>
              <div>
                <h1 class="text-[22px] text-[#444] font-bold">Image Restore</h1>
                <h1 class="text-[12px] text-[#555] pl-1">
                  Remove unwanted object
                </h1>
              </div>
            </div>
          </div>

          <!------------------- card-4 -->
          <div
            class="w-[400px] h-[220px] bg-yellow-200/40 rounded p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.03] cursor-pointer relative"
            (click)="handleCardClick()"
          >
            <!-- Sign in label shown only if not logged in -->
            <ng-container *ngIf="!isLoggedIn()">
              <div class="absolute -top-2 -right-2 z-10">
                <h1
                  class="flex text-sm font-thin text-[#666] bg-white/30 p-1 px-2 rounded shadow"
                >
                  <img
                    src="lock.png"
                    alt="Sign in"
                    class="h-4 inline-block mr-1"
                  />Sign In
                </h1>
              </div>
            </ng-container>

            <div
              class="flex flex-row items-center justify-center h-full rounded gap-4 bg-[#eff240]"
            >
              <div class="rounded-full bg-white p-4">
                <img src="stars.svg" alt="tbi" class="w-auto h-10" />
              </div>
              <div>
                <h1 class="text-[22px] text-[#444] font-bold">
                  Generative Fill
                </h1>
                <h1 class="text-[12px] text-[#555] pl-1">
                  Remove unwanted object
                </h1>
              </div>
            </div>
          </div>

          <!------------------- card-5 -->
          <div
            class="w-[400px] h-[220px] bg-red-400/30 rounded p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.03] cursor-pointer relative"
            (click)="handleCardClick()"
          >
            <!-- Sign in label shown only if not logged in -->
            <ng-container *ngIf="!isLoggedIn()">
              <div class="absolute -top-2 -right-2 z-10">
                <h1
                  class="flex text-sm font-thin text-[#666] bg-white/30 p-1 px-2 rounded shadow"
                >
                  <img
                    src="lock.png"
                    alt="Sign in"
                    class="h-4 inline-block mr-1"
                  />Sign In
                </h1>
              </div>
            </ng-container>
            <!-- Sign in label shown only if not logged in -->
            <div
              class="flex flex-row items-center justify-center h-full rounded gap-4 bg-[#ff7575]"
            >
              <div class="rounded-full bg-white p-4">
                <img src="filter.svg" alt="tbi" class="w-auto h-10" />
              </div>
              <div>
                <h1 class="text-[22px] text-[#444] font-bold">
                  Object Recolor
                </h1>
                <h1 class="text-[12px] text-[#555] pl-1">
                  Remove unwanted object
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-center w-full pt-4">
  <div class="overflow-hidden w-full">
    <div class="scroll-track flex gap-6 px-4">
      <ng-container *ngFor="let card of featureCards">
        <div
          class="feature-card flex flex-row p-2 my-2 boxShadow rounded-lg bg-white gap-4 max-w-[560px] border border-gray-200"
        >
          <img
            [src]="card.icon"
            alt="icon"
            class="w-auto h-12 bg-gray-200 rounded p-2"
          />
          <div class="flex flex-col items-start">
            <p
              class="text-md font-bold text-[#222] leading-relaxed tracking-wider"
            >
              {{ card.title }}
            </p>
            <p class="text-gray-500 font-mono text-[12px] leading-relaxed">
              {{ card.description }}
            </p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngFor="let card of featureCards">
        <div
          class="feature-card flex flex-row p-2 my-2 boxShadow rounded-lg bg-white gap-4 max-w-[560px] border border-gray-200"
        >
          <img
            [src]="card.icon"
            alt="icon"
            class="w-auto h-12 bg-gray-200 rounded p-2"
          />
          <div class="flex flex-col items-start">
            <p
              class="text-md font-bold text-[#222] leading-relaxed tracking-wider"
            >
              {{ card.title }}
            </p>
            <p class="text-gray-500 font-mono text-[12px] leading-relaxed">
              {{ card.description }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="flex flex-col items-center justify-center w-full pb-4 mb-10">
  <div class="overflow-hidden w-full">
    <div class="scroll-track-left flex gap-6 px-4">
      <ng-container *ngFor="let card of featureCardsSecond">
        <div
          class="feature-card flex flex-row items-center p-2 my-2 boxShadow rounded-lg bg-white gap-4 max-w-[560px] border border-gray-200"
        >
          <img [src]="card.icon" alt="icon" class="w-auto h-8" />
          <div class="flex flex-col items-start">
            <p
              class="text-sm font-medium text-[#333] leading-relaxed tracking-wider"
            >
              {{ card.title }}
            </p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngFor="let card of featureCardsSecond">
        <div
          class="feature-card flex flex-row items-center p-2 my-2 boxShadow rounded-lg bg-white gap-4 max-w-[560px] border border-gray-200"
        >
          <img [src]="card.icon" alt="icon" class="w-auto h-8" />
          <div class="flex flex-col items-start">
            <p
              class="text-sm font-medium text-[#333] leading-relaxed tracking-wider"
            >
              {{ card.title }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div
  id="Guide"
  class="w-[84%] mx-auto my-[100px] border border-gray-200 p-8 rounded-2xl"
>
  <div class="text-center mb-4 mt-6">
    <h2
      class="w-full mx-auto text-center text-3xl md:text-5xl font-black tracking-tight leading-tight text-[#444]"
    >
      Edit Your Image in
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-purple-900"
        >4 Simple Steps</span
      >
    </h2>
  </div>

  <div class="flex justify-between mx-57 relative mb-20">
    <div
      class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10"
    >
      <div class="w-2 h-2 bg-white rounded-full"></div>
    </div>
    <div
      class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10"
    >
      <div class="w-2 h-2 bg-white rounded-full"></div>
    </div>
    <div
      class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10"
    >
      <div class="w-2 h-2 bg-white rounded-full"></div>
    </div>
    <div
      class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10"
    >
      <div class="w-2 h-2 bg-white rounded-full"></div>
    </div>

    <div
      class="py-[1.5px] rounded-full bg-purple-700 w-full absolute z-1 top-1.5"
    ></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <div
      *ngFor="let step of steps"
      class="p-6 py-8 bg-white shadow-sm rounded-2xl border border-gray-100 flex flex-col items-center text-center transition hover:shadow-lg"
    >
      <img
        [src]="step.Image"
        alt="Step {{ step.Image }}"
        class="w-12 h-12 mb-8"
      />
      <!-- Title -->
      <h3 class="font-bold text-lg text-gray-700">
        {{ step.title }}
      </h3>

      <!-- Description -->
      <p class="text-sm text-gray-400 mt-1">
        {{ step.description }}
      </p>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="flex flex-col items-center mx-20 mt-20">
  <div
    class="w-full bg-white px-1 pt-1 border border-gray-200 shadow-md bg-white rounded-t-lg"
  >
    <section
      class="border-t border-l border-r border-gray-500 flex justify-between p-4 text-white rounded-t-lg bg-gradient-to-r from-blue-500 to-purple-600"
    >
      <!-- Left -->
      <div class="me-5 text-xl flex items-center">
        <span>Get connected with us on social networks</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="flex flex-row items-end justify-center gap-2">
        <div
          class="bg-blue-400 p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
        >
          <div
            class="rounded-full bg-white p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
          >
            <img src="linkedin.svg" alt="tbi" class="w-auto h-10 p-2" />
          </div>
        </div>
        <div
          class="bg-blue-400 p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
        >
          <div
            class="rounded-full bg-white p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
          >
            <img src="facebook.svg" alt="tbi" class="w-auto h-10 p-1" />
          </div>
        </div>
        <div
          class="bg-blue-400 p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
        >
          <div
            class="rounded-full bg-white p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
          >
            <img src="github.svg" alt="tbi" class="w-auto h-10" />
          </div>
        </div>
        <div
          class="bg-blue-400 p-1 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]"
        >
          <div
            class="rounded-full bg-white p-1 transition-all duration-400 ease-in-out transform hover:scale-[1.07] hover:bg-purple-50 cursor-pointer"
          >
            <img src="instagram.svg" alt="tbi" class="w-auto h-10 p-2" />
          </div>
        </div>
      </div>
      <!-- Right -->
    </section>

    <div
      class="text-center p-3 px-4 bg-white border-l border-r border-gray-500 flex justify-between"
    >
      <p class="text-[#666]">
        &copy; Copyright TBI Studio 2025, All rights reserved.
      </p>
      <div class="flex gap-8 text-[#777]">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
    </div>
  </div>
</div>
